# These are the programs used for testing this wdl workflow.
# These requirements can be installed with conda with the bioconda channel
# activated.
# For more information on how to set up conda with bioconda channel see:
# http://bioconda.github.io/#install-conda
# This file can be installed with "conda install --file requirements-test.txt".

cromwell==0.40
pytest-workflow==1.5.0
womtool
miniwdl
wdl-aid
bump2version
gitchangelog
pystache